node_modules
dist
.nitro
.tanstack
data
public/media
.env*.local
.env.local
.git
.wrangler
*.log
.DS_Store
src
public
supabase
*.ts
*.tsx
*.js
*.jsx
*.html
*.css
*.json
!package.json
!package-lock.json
